/Innowise.MusicIdentityServer/bin/Debug/net9.0/appsettings.Development.json
/Innowise.MusicIdentityServer/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Innowise.MusicIdentityServer/bin/Debug/net9.0/appsettings.json
/Innowise.MusicIdentityServer/obj/Debug/net9.0/apphost.exe
/Innowise.MusicIdentityServer/obj/Debug/net9.0/Innowise.02D51ED8.Up2Date
