/Innowise.MusicIdentityServer/bin/Debug/net9.0/appsettings.Development.json
/Innowise.MusicIdentityServer/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Innowise.MusicIdentityServer/bin/Debug/net9.0/appsettings.json
/Innowise.MusicIdentityServer/obj/Debug/net9.0/apphost.exe
/Innowise.MusicIdentityServer/obj/Debug/net9.0/Innowise.02D51ED8.Up2Date
/Innowise.MusicIdentityServer/bin/Debug/net9.0/AutoMapper.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Binder.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Configuration.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Identity.Core.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Identity.Stores.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Npgsql.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Text.Encodings.Web.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.AspNetCore.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.Extensions.Hosting.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.Extensions.Logging.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.Formatting.Compact.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.Settings.Configuration.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.Sinks.Console.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.Sinks.Debug.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Serilog.Sinks.File.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/System.Diagnostics.DiagnosticSource.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/System.IO.Pipelines.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/System.Text.Encodings.Web.dll
/Innowise.MusicIdentityServer/bin/Debug/net9.0/System.Text.Json.dll
/Innowise.MusicIdentityServer/obj/Debug
/Innowise.MusicIdentityServer/bin/
/.gemini/GEMINI.md
/.gemini/key.txt
