**/.vs
**/.vscode
**/bin
**/obj
**/.idea
**/.DS_Store
**/[Bb]in
**/[Oo]bj
.git
.gitignore
README.md
.sln
docker-compose.yml
docker-compose.override.yml
**/Properties/PublishProfiles
**/Properties/launchSettings.json
**/*.user
**/*.suo
**/*.cache
**/node_modules
**/packages
